[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = github_example
[access "refs/*"]
	owner = group user/tabulavko
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tabulavko
	label-Verified = -1..+1 group user/tabulavko
	push = group user/tabulavko
	read = group user/tabulavko
	rebase = group user/tabulavko
	removeReviewer = group user/tabulavko
	submit = group user/tabulavko
[access "refs/heads/*"]
	create = group user/tabulavko
	push = +force group user/tabulavko
	pushMerge = group user/tabulavko
	read = group user/tabulavko
[access "refs/tags/*"]
	push = group user/tabulavko
	push = +force group user/tabulavko
